@import "color";

nav {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  a {
    font-weight: 500;
    color: $color-text-light-dark;
    text-decoration: none;
    outline: none;
    text-align: center;
    display: block;
    width: 100%;
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  h2 {
    font-size: 1.3rem;
    margin-left: 3rem;
    font-weight: 600;
  }
}
