.plus-btn {
  position: fixed;
  right: 1.5rem;
  bottom: 7rem;
  background-color: rgb(125, 198, 247);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100rem;
  box-shadow: 5px 0 5px -5px #333;
}
