@import "color";

.plus-btn {
  position: fixed;
  right: 1.5rem;
  bottom: 7rem;
  background-color: $color-primary;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100rem;
  text-align: center;
  line-height: 4.5rem;
  font-size: 5rem;
  color: $color-text-dark;
  cursor: pointer;
  transition: transform .5s;
}

.plus-btn:hover {
  transform: translateY(0.5rem);
}
